.BeforeAfter {
    font-family: sans-serif;
    text-align: center;
}

.mainWrapper {
    width: calc(100vw - 17px);
    height: calc(100vh - 17px);
    display: grid;
}

.contentWrapper {
    height: 90%;
    width: 90%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    align-content: center;
    justify-content: center;
}
