#asd:hover{
    color: white !important;
}

.btn:hover {
    color: dimgrey !important;
}

.btn-outline-info:hover{
    background-color: #fd9a49 !important;
    border-color: #fd9a49 !important;
}

.btn-outline-info{
    border-color: #fd9a49 !important;
}